<phpunit>
  <php>
    <env name="RESOURCEKEY" value="!!YOUR_RESOURCE_KEY!!" force="true"/>
    <env name="FOD_CLOUD_API_URL" value="" force="true"/>
  </php>
  <testsuites>
    <testsuite name="Tests">
      <file>examples/index.php</file>
      <file>tests/geolocation.php</file>
    </testsuite>
  </testsuites>
</phpunit>